.footer {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/* social media link section */

.footer__links-container,
.footer__menu-container,
.footer__copyright {
  width: 1120px;
}
.footer__links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.follow-us {
  width: fit-content;
  align-self: center;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 3px solid #ffdb4d;
}
.footer__links {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links > .social-links-wrapper {
  width: 212px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__links > .social-links-wrapper > .social-links {
  color: black;
}
.footer__links > .social-links-wrapper > .social-links:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
