/* .email__section-background {
  background-color: #395697;
  border: 10px solid #2c4886;
  height: 236px;
  display: flex;
  justify-content: center;
}
.email__section {
  width: 1120px;
  height: 100%;
} */
